@import 'libs/bootstrap-reboot.min';
@import 'libs/fonts';
@import 'libs/animate'; //почистить файл от лишнего
// animate__slideInLeft, animate__slideInRight, animate__bounce, animate__bounceOutDown
// animate__backInLeft, animate__backInRight, animate__backInUp, animate__backInDown 

@import 'blocks/login';
@import 'blocks/title';
@import 'blocks/btn';
@import 'blocks/input';
@import 'blocks/products';
@import 'blocks/resize';

* {
    font-family: 'Amatic SC Regular', sans-serif;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    border-color: white;
}
.hide {
    display: none;
}
.hello__window, .menu__window {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}
.refresh__window {
    position: absolute;
    left: 50vw;
    transform: translateX(-50%);
}
.list__window {
    position: absolute;
    left: 50vw;
    transform: translateX(-50%);
}

// @import 'blocks/media';