@import 'libs/bootstrap-reboot.min';
@import 'libs/fonts';

@import 'blocks/login';
@import 'blocks/title';
@import 'blocks/btn';
@import 'blocks/input';
@import 'blocks/products';

* {
    font-family: 'Amatic SC Regular', sans-serif;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    border-color: white;
}
.hide {
    display: none;
}
.hello__window, .menu__window {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}
.refresh__window {
    position: absolute;
    left: 50vw;
    transform: translateX(-50%);
}
.list__window {
    position: absolute;
    left: 50vw;
    transform: translateX(-50%);
}

.pt-5 {
    padding-top: 5px;
}
.bg-green {
    background-color: rgb(107, 208, 109);
}

// @import 'blocks/media';