.btn {
    margin-top: 10px;
    width: 100px;
    height: 50px;
    border-radius: 8px;
    font-size: 22px;
    background-color: rgb(81, 167, 242);
    // background-color: rgb(177, 235, 135);
    color: #ffffff;
    // color: #74d4ec;
    border: none;
    text-transform: uppercase;
    box-shadow: 0px 0px 4px gray;
    transition: 0.5s all;
    &:focus {
        outline: none;
    }
    &_refresh-stocks, &_shoping-list {
        width: 150px;
        display: block;
        margin: 10px auto;
        font-size: 25px;
    }
    &__wrap {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
        align-items: center;
    }
    &_add-product, &_change-product, &_refresh-product, &_delete-product, &_small {
        width: 50px;
        height: 40px;
        font-size: 22px;
        margin: 0;
    }
    &_list {
        width: 200px;
        height: 50px;
        display: block;
        margin: 10px auto;
        font-size: 25px;
        
    }
    &_add-product {
        background-color: rgb(107, 208, 109);
        width: 75px;
    }
    &_refresh-product {
        background-color: rgb(107, 208, 109);
        font-size: 18px;
    }
    &_change-product {
        font-size: 18px;
    }
    &_delete-product {
        background-color: rgb(246, 91, 67);
    }
    &_menu {
        display: block;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 80px;
    }
    &_show {
        background-color: white;
        font-family: 'Roboto Mono Regular', monospace;
        color: black; 
    }
    &_inset {
        box-shadow: inset 0px 0px 5px gray;
    }
    &_hide {
        font-size: 22px;
        background-color: rgb(241, 196, 16);
    }
}
