.input {
    width: 200px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #c8c4c4;
    padding: 0px 5px;
    &_new-quantity, &_new-price, &_price {
        width: 50px;
        font-family: 'Roboto Mono', monospace;
        font-size: 10px;
        text-align: center;
    }
    &_new-group, &_new-stock, &_group, &_stock {
        width: 75px;
        font-family: 'Roboto Mono', monospace;
        font-size: 15px;
        text-align: center;
    }
    &_group, &_stock {
        width: 34px; 
    }
    &_price, &_group, &_stock, &_quantity {
        font-family: 'Roboto Mono', monospace;
        background-color: white;
        color: black;
    }
    &_product {
        font-size: 22px;
        border: none;
        background-color: white;
        color: black;    
    }
    &_quantity {
        font-size: 18px;
    }
    &_new-product {
        font-size: 22px;
    }

}