.products {
    &__form, &__item {
        display: flex;
        padding: 10px 10px;
        width: 350px;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
        align-content: center;
    }
    &__form {
        padding-top: 0;
    }
    &__item {
        margin: 5px 0;
        border: 1px solid #c8c4c4;
        border-radius: 8px;
        width: 350px;
        &__wrap {
            width: 350px;
        }
    }
    &__quantity {
        width: 200px;
        height: 40px;
        border-radius: 5px;
        border: 1px solid #c8c4c4;
        padding: 0px 5px;
        line-height: 40px;
    }
    &__price, &__group, &__stock {
        width: 50px;
        height: 40px;
        padding: 0 5px;
        font-size: 20px;
        border: none;
        line-height: 20px;
        text-align: center;
    }
    &__price {
        font-size: 25px;
        line-height: 25px;
        padding-top: 6px;
    }
    &__total {
        width: 200px;
        font-size: 30px;
        text-align: right;
        &__wrap {
            display: flex;
            gap: 10px;
            justify-content: end;
            align-items: center;
            padding-bottom: 0px;
        }
    }
}