.pt-5 {
    padding-top: 5px;
}
.pt-3 {
    padding-top: 3px;
}
.bg-green {
    background-color: rgb(107, 208, 109);
}
.w_40 {
    width: 40px;
}
.w_75 {
    width: 75px;
}
.w_85 {
    width: 85px;
}
.w_100 {
    width: 100px;
    padding-top: 8px;
}
.fz_50 {
    font-size: 35px;
    line-height: 0;
    font-family: 'Roboto Mono Regular', monospace;
}

